<!DOCTYPE css>
body{
  font-family:arial;
}
form{
  height:34px;
  position: absolute;}
}
#middle_band{
  height: 109px;
}
#logo_to_search #search_to_buttons #buttons_to_text{
  height: 23px;
}
#text_to_footer{
  height:200px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  display: inline;
  border: none;
}
.submit{
  display: inline;
  background-color: #f8f8f8;
  font-weight: bold;
}
li a {
  display: inline;
  text-align: center;
  padding: 14px, 16px;
  text-decoration: none;
}
li a:hover {
  text-decoration:underline;
}
img {
  text-align: center;
}
