<!DOCTYPE css>
a{
  font-family: arial,sans-serif;
}
#middle_band{
  height: 109px;
}
#logo_bar_band{
  height: 23px;
}
#search_bar_to_footer{
  height:109px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  display: inline;
  border: none;
}
li a {
  display: inline;
  text-align: center;
  padding: 14px, 16px;
  text-decoration: none;
}
li a:hover {
  text-decoration:underline;
}
img {
  text-align: center;
}
